<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="defaultPushSource" value="https://nuget.pkg.github.com/1-800-Battery/index.json"/>
    </config>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="github-battery" value="https://nuget.pkg.github.com/1-800-Battery/index.json" />
    </packageSources>
    <!-- 
    For development machines, add this to ~/.nuget/NuGet/NuGet.Config:
    
    <packageSourceCredentials>
        <github-battery>
            <add key="Username" value="your_github_username" />
            <add key="ClearTextPassword" value="your_personal_access_token" />
        </github-battery>
    </packageSourceCredentials>
    
    Personal Access Token needs:
    - read:packages (to consume packages)
    - write:packages (to publish packages)
    - repo (for private repositories)
    
    Repository: https://github.com/1-800-Battery/Marketring.BigCommerceApi
    -->
</configuration>